body{
    margin: 0;
    padding : 0;
}
.container {
  margin: 0 auto;
  padding: 40px;
  width: 80%;
  color: #333;
  background: #419be0;
}
.padding-top-20{
    padding-top: 20px;
}
.padding-top-50{
    padding-top: 50px;
}
.padding-bottom-20{
    padding-bottom: 20px;
}
.padding-bottom-50{
    padding-bottom: 50px;
}
.searchbararea{
    background: #00b4a0;
}
.searchbararea div div div div{
    font-size: 13px;
}
.btn-group{
    top:10px;
}
nav{
 margin:0 !important;   
}
.margin0{
    margin:0 !important;
}



@media (max-width: 352px){
.searchbararea div div div div{
    font-size: 3.5vw;
}
.img-responsive{
width:40vw;
}
}
.jobcard{
    background: #F6F6F6;
    color: #808080;
    padding:0px 0px 35px 0px;

}
.jobcard b{
  color: black;
}
.jobcard h3{
  color:#00b4a0;
  margin: 0;
}

.jobcardup{
    background: #FFF;
    color: #808080;
    padding:18px 15px 35px 23px;

}

.jobcardlow{
    color: #808080;
    padding:18px 15px 0px 23px;

}
.apply-btn{
  float: right;
  overflow: hidden;
  background: #00b4a0;
  color: #FFF;
}
.nav li a:focus, .nav li a:hover {
    background: none !important;
}
a{
    text-decoration: none !important;
    color: black !important;
}
footer{
    padding: 20px 0 20px 0;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.padding0{
    padding:0 !important;
}
.paddinglr{
    padding-left:20px !important;
    padding-right:20px !important;
}
