body{
    margin: 0;
    padding : 0;
}
.container {
  margin: 0 auto;
  padding: 40px;
  width: 80%;
  color: #333;
}
.padding-top-20{
    padding-top: 20px;
}
.padding-top-50{
    padding-top: 50px;
}
.padding-bottom-20{
    padding-bottom: 20px;
}
.padding-bottom-50{
    padding-bottom: 50px;
}
.searchbararea{
    background: #00b4a0;
}
.searchbararea div div div div{
    font-size: 13px;
}
.btn-group{
    top:10px;
}
.jobcard{
    background: #F6F6F6;
    color: #808080;
    padding:0px 0px 35px 0px;

}
.jobcard b{
  color: black;
}
.jobcard h3{
  color:#00b4a0;
  margin: 0;
}

.jobcardup{
    background: #FFF;
    color: #808080;
    padding:18px 15px 35px 23px;
  }

@media (max-width: 352px){
.searchbararea div div div div{
    font-size: 3.5vw;
}
.img-responsive{
width:40vw;
}
}
.jobcard{
    background: #F6F6F6;
    color: #808080;
    padding:0px 0px 35px 0px;

}
.jobcard b{
  color: black;
}
.jobcard h3{
  color:#00b4a0;
  margin: 0;
}

.jobcardup{
    background: #FFF;
    color: #808080;
    padding:18px 15px 35px 23px;

}

.jobcardlow{
    color: #808080;
    padding:18px 15px 0px 23px;

}
.apply-btn{
  float: right;
  overflow: hidden;
  background: #00b4a0;
  color: #FFF;
}
.sliderpapertitle{
    padding:0px 15px 0px 23px;
}
.sliderpapertext{
    padding:18px 15px 10px 23px;
}
.sliderpaperbuttons{
    padding:18px 15px 10px 23px;
}

.slidercard{
    padding:0 5px;
    height: 244px;
}
.paddingzero{
    padding: 0px !important;
    height: 228px !important;
    background: #FFF !important;
}
.slick-prev:before, .slick-next:before{
    color:red;
}
.slick-slide:focus { outline: none; }